<div class="carousel">
  <mat-card>
    <ng-container *ngFor='let movie of movies; let indice = index'>
        <mat-card-header
          *ngIf="indice === currentMovie" [@slideAnimation]="animationType"
        >
          <mat-card-title>{{movie.title}}</mat-card-title>
           <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="indice === currentMovie" [@slideAnimation]="animationType" class="slider" [src]="movie.image" alt="">
        <mat-card-content *ngIf="indice === currentMovie" [@slideAnimation]="animationType">
            <p>{{movie.crew}} </p>
            <p><b> {{movie.imDbRating}} </b></p>
        </mat-card-content>
    </ng-container>
    <button class="control prev" mat-mini-fab aria-label="Previous" (click)="onPreviousClick()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <button class="control next" mat-mini-fab aria-label="Next" (click)="onNextClick()">
      <mat-icon>arrow_forward</mat-icon>
  </button>
  </mat-card>
</div>
